MATRIX_HOMESERVER=
MATRIX_USER_ID=
MATRIX_PASSWORD=
MONGODB_URI=
MONGODB_DB=matrix_index
ROOT_USER_ID=
SD_AUTH=
SD_API_BASE=
FLUX_API_BASE=
MATRIX_MEDIA_URL=
EVENNIA_VERIFY_URL=
EVENNIA_VERIFY_TOKEN=
EVENNIA_PUBLIC_URL=https://the-dongeon.scoob.dog
KLIPY_API_KEY=
